ajopaivakirja.xsd.txt

<?xml version='1.0' encoding='UTF-8'?> <xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'> <xs:element name='ajopaivakirja'> <xs:complexType> <xs:sequence>  <xs:element name='ajo' maxOccurs='unbounded'> <xs:complexType> <xs:sequence> <xs:element name='alku'> <xs:complexType> <xs:sequence> <xs:element name='lukema' type='xs:int'></xs:element>  <xs:sequence> <xs:element name='aika'> <xs:complexType> <xs:attribute name='kello' type='xs:string'/> <xs:attribute name='paiva' type='xs:string'/> </xs:complexType> </xs:element> </xs:sequence>  <xs:element name='paikka' type='xs:string'/> </xs:sequence>  </xs:complexType> </xs:element>   <xs:element name='loppu'> <xs:complexType> <xs:sequence>  <xs:element name='lukema' type='xs:int'></xs:element>   <xs:element name='aika'> <xs:complexType> <xs:attribute name='kello' type='xs:string'></xs:attribute> <xs:attribute name='paiva' type='xs:string'></xs:attribute> </xs:complexType> </xs:element>  <xs:element name='paikka' type='xs:string'/> </xs:sequence> </xs:complexType> </xs:element>  </xs:sequence>     </xs:complexType>  </xs:element> </xs:sequence> <xs:attribute name='rekisterinro' type='xs:string'/> <xs:attribute name='laatija' type='xs:string'/> </xs:complexType> </xs:element> </xs:schema> 