finnkino.xsd.txt

<?xml version='1.0' encoding='UTF-8'?> <xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'> <xs:element name='Events'> <xs:complexType> <xs:sequence> <xs:element name='Event' maxOccurs='unbounded'> <xs:complexType> <xs:sequence>  <xs:element name='Title' type='xs:string'/> <xs:element name='OriginalTitle' type='xs:string'/> <xs:element name='ProductionYear' type='xs:int'/> <xs:element name='LengthInMinutes' type='xs:int'/> <xs:element name='dtLocalRelease' type='xs:dateTime'/> <xs:element name='Rating' type='xs:string'/> <xs:element name='EventType' type='xs:string'/> <xs:element name='Genres' type='xs:string'/> <xs:element name='ShortSynopsis' type='xs:string'/> <xs:element name='Synopsis' type='xs:string'/>  <xs:element name='Cast'> <xs:complexType> <xs:sequence>  	<xs:element name='Actor' maxOccurs='unbounded'> 	<xs:complexType> 	<xs:sequence> 	<xs:element name='FirstName' type='xs:string'/> 	<xs:element name='LastName' type='xs:string'/> 	</xs:sequence> 	</xs:complexType> 	</xs:element>   </xs:sequence> </xs:complexType> </xs:element>  <xs:element name='Directors'> <xs:complexType> <xs:sequence> 	<xs:element name='Director' maxOccurs='unbounded'> 	<xs:complexType> 	<xs:sequence> 	<xs:element name='FirstName' type='xs:string'/> 	<xs:element name='LastName' type='xs:string'/> </xs:sequence> </xs:complexType> </xs:element> </xs:sequence> </xs:complexType> </xs:element>  </xs:sequence> </xs:complexType>   </xs:element> </xs:sequence> </xs:complexType>                </xs:element> </xs:schema> 